body{font-size: 30px;
color: aliceblue}

@media screen (max-width: 767px) {body
    {transition:1s;
    background-color: red;
    font-size: 10px;}}
@media (max-width: 480px) {body{transition:1s;background-color: lightblue}}
@media (min-width: 768px) 
   and (max-width: 979px) {body{transition:1s;background-color: lightgreen}}
@media (min-width: 980px) {body{transition:1s;background-color: orange}}
@media (min-width: 1200px) {body{transition:1s;background-color: purple}}